@use 'sass:math';

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

blockquote {
	background: var(--surface4);
	border-left: solid 3px var(--text2);
	@include text-contrast(var(--surface4));
	font-style: italic;
	margin: math.div($gutter, 1) 0 math.div($gutter, 4) 0;
	padding: math.div($gutter, 1.5) math.div($gutter, .2) math.div($gutter, 1) math.div($gutter, .6);
}