body {
	// background: var(--brand);
	// color: var(--text4);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--surface1);



	// Better font rendering for Webkit and Firefox
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}
