// a {
// 	text-decoration: none;
// 	border-bottom: dotted 1px #d0d6e2;
// 	color: inherit;
// 	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
// 	background-color 0.2s ease-in-out;
// }

// a:hover {
// 	color: var(--brand-inverted);
// 	border-color: var(--brand-inverted);
// }

.link {
	position: relative;
	line-height: 16px;
	font-size: 0.9em;
	text-decoration: none;
	padding: .2em;
	background-color: var(--surface4);
	@include text-contrast(var(--surface4));
	&:hover {
		text-decoration: underline;
	}

	&__arrow {
		margin: 0 $gutter 0 0;
		a {
			&:hover {
				text-decoration: none;
				&::after {
					transition: translate, 0.5s;
					transform: translate(7px, 0px);
				}
			}
			&::after {
				content: "";
				right: -24px;
				top: -1px;
				width: 16px;
				height: 16px;
				background: url("../images/icons/dark_arrow.svg") 0 0 no-repeat;
				display: inline-block;
				position: absolute;
			}
		}

		&--left {
			margin: 0 0 0 $gutter;
			a {
				&:hover {
					&::after {
						transform: rotate(180deg) translate(7px, 0px);
					}
				}

				&::after {
					content: "";
					transform: rotate(180deg);
					left: -24px;
				}
			}
		} //left end
		&--right {
			//default arrow
			color: red;
		}
	} //arrow end
} //link end
