/* Mobile Navigation Style */
.global-menu {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 110;
	font-size: 2.6rem;
	background: var(--surface1);
}

.header-mobile {
    background-color: var(--surface1);

	.header__items {
		display: flex;
		flex-direction: column;
	}
}