/* Mobile Navigation Style */
.global-menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	font-size: 3rem;
	// background: var(--surface1);
}

.header-mobile {
    background-color: aqua;
}