
/* Top Navigation Style */
.global-menu {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 1100;
	opacity: 0;
	font-size: 3rem;
	transition: opacity 1.3s;
	background: var(--surface1);
	&.is-opened {
		opacity: 1;
		transition: opacity 1.3s;
	}
	&__item {
		color: var(--text1);
		opacity: 0;
		transform: translateY(-100%);
		pointer-events: none;
		display: block;
		margin: 0.25em 0;
		transition: transform 0.3s, opacity 0.3s;
		transition-timing-function: ease-in;
		&:hover {
			color: var(--color-menu-hover);
		}
		&.is-opened {
			opacity: 1;
			transform: translateY(0) rotate(0);
			pointer-events: auto;
			transition-timing-function: ease;
			&:nth-of-type(1) {
				transition-delay: 0.85s;
			}
			&:nth-of-type(2) {
				transition-delay: 0.8s;
			}
			&:nth-of-type(3) {
				transition-delay: 0.75s;
			}
			&:nth-of-type(4) {
				transition-delay: 0.7s;
			}
		}
		&:nth-of-type(1) {
			transition-delay: 0s;
		}
		&:nth-of-type(2) {
			transition-delay: 0.05s;
		}
		&:nth-of-type(3) {
			transition-delay: 0.1s;
		}
		&:nth-of-type(4) {
			transition-delay: 0.15s;
		}
	}
}

.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	&.is-opened {
		pointer-events: auto;
	}
	&__path {
		&:nth-of-type(1) {
			fill: var(--path-fill-1);
		}
		&:nth-of-type(2) {
			fill: var(--path-fill-2);
		}
		&:nth-of-type(3) {
			fill: var(--path-fill-3);
		}
		&:nth-of-type(4) {
			fill: var(--path-fill-4);
		}
	}
}

.hamburger {
	width: 64px;
	height: 64px;
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 1.25em;
	right: 2.25em;
	z-index: 1110;
	border-radius: 50%;
	background-color: var(--text1);
	pointer-events: auto;
	-webkit-tap-highlight-color: var(--surface4);
	@media (max-width: $bpL) {
		display: block;
		position: fixed;
		bottom: 2.5em;
		right: auto;
		transform: scale(0.75);
	}

	&::after {
		width: 64px;
		height: 64px;
		box-sizing: border-box;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		// pointer-events: none;
		border: 4px solid var(--surface4);
		border-radius: 50%;
		animation-duration: 1.2s;
		animation-name: intervalHamburgerBorder;
		animation-iteration-count: infinite;
	}

	&__line {
		width: 28px;
		height: 2px;
		overflow: hidden;
		position: absolute;
		z-index: 10;
		transition-duration: 0.6s;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		&--01,
		&--02,
		&--03,
		&--cross01,
		&--cross02 {
			left: 18px;
		}
		&--01 {
			top: 24.6px;
		}
		&--02,
		&--cross01,
		&--cross02 {
			top: 31px;
		}

		&--03 {
			top: 37.4px;
		}

		&--cross01 {
			transform: rotate(45deg);
		}

		&--cross02 {
			transform: rotate(-45deg);
		}
	}

	&__line-in {
		width: 84px;
		height: 2px;
		position: absolute;
		top: 0;
		left: 0;
		transition-duration: 0.6s;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		&::before,
		&::after {
			width: 28px;
			height: 2px;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			background-color: var(--surface1);
			transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
			transition-property: transform;
		}
		&::before {
			left: -56px;
		}
		&::after {
			left: 0;
		}
		&--cross01,
		&--cross02 {
			transform: translateX(-33.3%);
		}

		&--01 {
			transition-delay: 0.2s;
		}

		&--02 {
			transition-delay: 0.25s;
			&::before,
			&::after {
				transition-delay: 0.05s;
			}
		}

		&--03 {
			transition-delay: 0.3s;
			&::before,
			&::after {
				transition-delay: 0.1s;
			}
		}

		&--cross01 {
			transition-delay: 0s;
		}

		&--cross02 {
			transition-delay: 0.05s;
			&::before,
			&::after {
				transition-delay: 0.1s;
			}
		}
	}
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
	min-height: 100vh;
	transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
	transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
	transition-delay: 0.05s;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
	transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
	transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
	transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
	transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	transition-duration: 0s;
}

@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	80% {
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		transform: scale(1.6);
	}
}

@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	80% {
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		transform: scale(1.6);
	}
}

@media screen and (max-width: 55em) {
	.content {
		height: auto;
		min-height: 0;
		flex-direction: column;
		&--fixed {
			position: relative;
			z-index: 0;
			display: block;
			padding: 0.85em;
		}
	}
}