@use 'sass:math';
@use './../00-vars/00-vars' as vars;

// Headlines -------------------------------------------------------------- //
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0;
	font: vars.$fontStackBerlingoRegular;

	&.subline {
		margin: math.div(vars.$gutter, 0.8) 0 math.div(vars.$gutter, 6.8) 0;
	}

	&.eyebrow {
		margin: math.div(vars.$gutter, 6.8) 0 math.div(vars.$gutter, 0.8) 0;
	}

	&.browLine {
		margin: math.div(vars.$gutter, 6.8) 0 math.div(vars.$gutter, 6.8) 0;
	}
	// text-rendering: optimizeLegibility;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	&--bold {
		font: vars.$fontStackBarlowBold;
	}
}

h1,
.h1 {
	font-size: 3.5rem;
	line-height: 3.25rem;
	margin: 0;
	margin: math.div(vars.$gutter, 1) 0;
}

h2,
.h2 {
	font-size: 2rem;
	line-height: 2.25rem;
	margin: math.div(vars.$gutter, 1.4) 0;
}

h3,
.h3 {
	font-size: 1.775rem;
	line-height: 2rem;
	margin: math.div(vars.$gutter, 0.8) 0 math.div(vars.$gutter, 2.8) 0;
}

h4,
.h4 {
	font-size: 1.225rem;
	margin: math.div(vars.$gutter, 1.4) 0;
}

h5,
.h5 {
	font-size: 1rem;
	letter-spacing: 0.1rem;
	margin: math.div(vars.$gutter, 1.4) 0;
}

h6,
.h6 {
	font-size: 0.875rem;
	margin: math.div(vars.$gutter, 1.4) 0;
}

// Text -------------------------------------------------------------- //
b,
p,
address,
ol,
ul,
label,
blockquote {
	font-family: 'Montserrat';
	margin: 0 0 math.div(vars.$gutter, 2);
	font-style: normal;
	font-size: 1rem;
	font-display: swap;
}

b {
	font-weight: 700;
}

blockquote {
	border-left: 4px solid;
	font-style: italic;
	margin: 0px 0px vars.$gutter 0;
	padding: math.div(vars.$gutter, .6) math.div(vars.$gutter, 2) math.div(vars.$gutter, 2) vars.$gutter;
	position: relative;

	&::after {
		content: " # ";
		color: inherit;
		// add dynamic values
		font-size: 80px;
		position: absolute;
		right: 20px;
		top: -50px;
	}
}

p {
	line-height: 2.385rem;
	&.eyebrow {
		margin: math.div(vars.$gutter, 0.6) 0 math.div(vars.$gutter, 6);
	}
}

.p-xlarge {
	font-size: 1.375rem;
}

.p-large {
	font-size: 1.125rem;
}

.p-medium {
	font-size: 1rem;
}

.p-small {
	font-size: 0.875rem;
}

.p-xsmall {
	font-size: 0.75rem;
}

label {
	margin: 0;
}

a {
	font: vars.$fontStackBarlowBold;
	text-decoration: none;
	border-bottom: solid 2px var(--text1);
	color: var(--text1);
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
		background-color 0.2s ease-in-out;
}

a:hover {
	background-color: var(--surface7);
	color: var(--text4);
	border-color: var(--text3);
}
