.cursor {
    position: fixed;
    // background: var(--surface4);
    // background: blue;
    opacity: .4;
    width: 120px;
    top: 0;
    left: 0;
    height: 120px;
    z-index: 1000;
    pointer-events: none;

    circle {
        fill: var(--text4);
        opacity: .4;
    }
}