# Build
/dist
/lib
/lib-types
/server

# Development
node_modules

# Envoirement
.env
.npmrc

# Cache
.cache
.mf
.vscode
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases

# Local Netlify folder
.netlify
/netlify

# Netlify
netlify/edge-functions/entry.netlify-edge/@qwik-city-plan.js
netlify/edge-functions/entry.netlify-edge/@qwik-city-static-paths.js
netlify/edge-functions/entry.netlify-edge/entry.netlify-edge.js
netlify/edge-functions/entry.netlify-edge/entry.ssr.js
