@mixin dark-sheme-definition {
	/* dark */
	--brand-core-dark: hsl(
		var(--brand-hue) calc(var(--brand-saturation))
			calc(var(--brand-lightness))
	);

	--brand-dark: hsl(
		var(--brand-hue) calc(var(--brand-saturation) / 2)
			calc(var(--brand-lightness) / 1.5)
	);

	--brand-inverted-dark: hsl(
		calc(var(--brand-hue) - 100) calc(var(--brand-saturation))
			calc(var(--brand-lightness))
	);

	--brand-inverted-highlight1: hsl(
		calc(var(--brand-hue) + 150) calc(var(--brand-saturation))
			calc(var(--brand-lightness))
	);

	--brand-inverted-highlight2: hsl(
		calc(var(--brand-hue) - 150) calc(var(--brand-saturation))
			calc(var(--brand-lightness))
	);

	--primary-dark: hsl(var(--primary-hue) 20% 25%);
	--secondary-dark: hsl(var(--secondary-hue) 7% 36%);
	--tertiary-dark: hsl(var(--tertiary-hue) 18% 52%);
	--quaternary-dark: hsl(var(--quaternary-hue) 8% 58%);
	--text1-dark: hsl(var(--brand-hue) 15% 85%);
	--text2-dark: hsl(var(--brand-hue) 5% 65%);
	--surface1-dark: hsl(var(--brand-hue) 5% 5%);
	--surface2-dark: hsl(var(--brand-hue) 5% 10%);
	--surface3-dark: hsl(var(--brand-hue) 5% 20%);
	--surface4-dark: hsl(var(--brand-hue) 5% 25%);
	--surface5-dark: var(--brand);
	--surface6-dark: var(--text1);
	--surface7-dark: var(--text2);
	--surface8-dark: hsl(var(--brand-hue) 5% 25%);
	--surface-shadow-dark: var(--brand-hue) 0% 10%;
	--shadow-strength-dark: 0.12;
}

@mixin dark-sheme {
	--brand: var(--brand-dark);
	--brand-core: var(--brand-core-dark);
	--brand-inverted: var(--brand-inverted-dark);
	--brand-inverted-highlight1: var(--brand-inverted-highlight1-dark);
	--brand-inverted-highlight2: var(--brand-inverted-highlight2-dark);
	--primary: var(--primary-dark);
	--secondary: var(--secondary-dark);
	--tertiary: var(--tertiary-dark);
	--quaternary: var(--quaternary-dark);
	--text1: var(--text1-dark);
	--text2: var(--text2-dark);
	--surface1: var(--surface1-dark);
	--surface2: var(--surface2-dark);
	--surface3: var(--surface3-dark);
	--surface4: var(--surface4-dark);
	--surface5: var(--surface5-dark);
	--surface6: var(--surface6-dark);
	--surface7: var(--surface7-dark);
	--surface8: var(--surface8-dark);
	--surface-shadow: var(--surface-shadow-dark);
	--shadow-strength: var(--shadow-strength-dark);
}
