* {
	// brand foundation 
	--brand-hue: 53;
	--brand-saturation: 55%;
	--brand-lightness: 86%;

	--primary-hue: 238;
	--secondary-hue: 270;
	--tertiary-hue: 13;
	--quaternary-hue: 356;
}

@mixin miami-sheme-definition {
	/* miami */
	--brand-light: hsl(
		var(--brand-hue) var(--brand-saturation) var(--brand-lightness)
	);
	--text1-light: hsl(var(--brand-hue) var(--brand-saturation) 1%);
	--text2-light: hsl(var(--brand-hue) var(--brand-saturation) 20%);
	--text3-light: hsl(var(--brand-hue) 100% 50%);
	--text4-light: hsl(var(--brand-hue) 100% 89%);
	--primary-light: hsl(var(--primary-hue) 20% 25%);
	--secondary-light: hsl(var(--secondary-hue) 7% 36%);
	--tertiary-light: hsl(var(--tertiary-hue) 18% 52%);
	--quaternary-light: hsl(var(--quaternary-hue) 8% 58%);
	--surface1-light: hsl(var(--brand-hue) 100% 50%);
	--surface2-light: hsl(var(--brand-hue) 100% 45%);
	--surface3-light: hsl(var(--brand-hue) 100% 40%);
	--surface4-light: hsl(var(--brand-hue) 100% 35%);
	--surface5-light: hsl(var(--brand-hue) 80% 25%);
	--surface6-light: hsl(var(--brand-hue) 80% 22%);
	--surface7-light: hsl(var(--brand-hue) 100% 20%);
	--surface8-light: hsl(calc(var(--brand-hue) - 55) 40% 15%);
	--surface-shadow-light: var(--brand-hue) 10% 20%;
	--shadow-strength-light: 0.02;
}

@mixin miami-sheme {
	/* set defaults */
	--brand: var(--brand-light);
	--text1: var(--text1-light);
	--text2: var(--text2-light);
	--text3: var(--text3-light);
	--text4: var(--text4-light);
	--primary: var(--primary-light);
	--secondary: var(--secondary-light);
	--tertiary: var(--tertiary-light);
	--quaternary: var(--quaternary-light);
	--surface1: var(--surface1-light);
	--surface2: var(--surface2-light);
	--surface3: var(--surface3-light);
	--surface4: var(--surface4-light);
	--surface5: var(--surface5-light);
	--surface6: var(--surface6-light);
	--surface7: var(--surface7-light);
	--surface8: var(--surface8-light);
	--surface-shadow: var(--surface-shadow-light);
	--shadow-strength: var(--shadow-strength-light);
}
