/** @format */

// Core variables ----------------------------------------------------------------------------- //
//  _________                        ____   ____            .__      ___.   .__
//  \_   ___ \  ___________   ____   \   \ /   /____ _______|__|____ \_ |__ |  |   ____   ______
//  /    \  \/ /  _ \_  __ \_/ __ \   \   Y   /\__  \\_  __ \  \__  \ | __ \|  | _/ __ \ /  ___/
//  \     \___(  <_> )  | \/\  ___/    \     /  / __ \|  | \/  |/ __ \| \_\ \  |_\  ___/ \___ \
//   \______  /\____/|__|    \___  >    \___/  (____  /__|  |__(____  /___  /____/\___  >____  >
//          \/                   \/                 \/              \/    \/          \/     \/
$version: '0.0.1';

// Sizes ------------------------------------------------------------------------------------ //
//
//    _________.__
//   /   _____/|__|_______ ____   ______
//   \_____  \ |  \___   // __ \ /  ___/
//   /        \|  |/    /\  ___/ \___ \
//  /_______  /|__/_____ \\___  >____  >
//          \/          \/    \/     \/
$gutter_30: 1.875rem; // 30px
$gutter: 1.8rem; // 28.8px
$maxWidth: 1440px;
$headerHeight: 80px;
$headerHeightMobile: 15em;
$sectionPadding: $gutter * 4;
$radiusSmall: 4px;
$radiusBig: 6px;
$iconSize: 90px;
$gridMinWidth: 820px;

// Breakpoints ------------------------------------------------------------------------------------ //
//
//  __________                        __                  .__        __
//  \______   \_______   ____ _____  |  | ________   ____ |__| _____/  |_  ______
//   |    |  _/\_  __ \_/ __ \\__  \ |  |/ /\____ \ /  _ \|  |/    \   __\/  ___/
//   |    |   \ |  | \/\  ___/ / __ \|    < |  |_> >  <_> )  |   |  \  |  \___ \
//   |______  / |__|    \___  >____  /__|_ \|   __/ \____/|__|___|  /__| /____  >
//          \/              \/     \/     \/|__|                  \/          \/

$bpXXS: 480px;
$bpXS: 640px;
$bpS: 960px;
$bpM: 1024px;
$bpL: 1280px;
$bpXL: 1366px;
$bpXXL: 1920px;

// basicGrid --------------------------------------------------- //
//
//  __________               .__         ________      .__    .___
//  \______   \_____    _____|__| ____  /  _____/______|__| __| _/
//   |    |  _/\__  \  /  ___/  |/ ___\/   \  __\_  __ \  |/ __ |
//   |    |   \ / __ \_\___ \|  \  \___\    \_\  \  | \/  / /_/ |
//   |______  /(____  /____  >__|\___  >\______  /__|  |__\____ |
//          \/      \/     \/        \/        \/              \/

$basicGrid__width: $maxWidth;
$basicGrid__gutter: $gutter;
$basicGrid__sizes: (
	'small': 0,
	'medium': $bpXS,
	'large': $bpM,
	'huge': $bpL,
);
