/** @format */

@use './../1-helpers/0-mixins/color-contrast';
@use 'shemes/dark-sheme';
@use 'shemes/light-sheme';
@use 'shemes/dim-sheme';
@use 'shemes/sim-sheme';
@use 'shemes/miami-sheme';
@use 'shemes/lights2-sheme';

* {
	@include dark-sheme.dark-sheme-definition;
	@include light-sheme.light-sheme-definition;
	@include dim-sheme.dim-sheme-definition;
	@include sim-sheme.sim-sheme-definition;
	@include lights2-sheme.lights2-sheme-definition;
	@include miami-sheme.miami-sheme-definition;
}

[data-theme='sim'] {
	color-scheme: sim;
	@include sim-sheme.sim-sheme;
}

[data-theme='miami'] {
	color-scheme: miami;
	@include miami-sheme.miami-sheme;
}

[data-theme='default'] {
	color-scheme: miami;
	@include miami-sheme.miami-sheme;
}

[data-theme='dark'] {
	color-scheme: dark;
	@include dark-sheme.dark-sheme;
}

[data-theme='dim'] {
	color-scheme: dim;
	@include dim-sheme.dim-sheme;
}

[data-theme='light'] {
	color-scheme: light;
	@include light-sheme.light-sheme;
}

[data-theme='lights2'] {
	color-scheme: lights2;
	@include lights2-sheme.lights2-sheme;
}

// custom test styling for color shemes templates css

.image-background {
	&::after {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: '';
		background-color: var(--text2);
		mix-blend-mode: multiply;
	}
}

.brand {
	color: var(--brand);
	background-color: var(--brand);
}

.brand-core {
	color: var(--brand-core);
	// background-color: var(--brand-core);
}

.brand-inverted {
	color: var(--brand-inverted);
	background-color: var(--brand-inverted);
}

.primary {
	background-color: var(--primary);
	@include color-contrast.text-contrast(var(--primary));

	& blockquote {
		@include color-contrast.border-contrast(var(--primary));
	}
}

.secondary {
	background-color: var(--secondary);
	@include color-contrast.text-contrast(var(--secondary));

	& blockquote {
		@include color-contrast.border-contrast(var(--secondary));
	}
}

.tertiary {
	background-color: var(--tertiary);
	@include color-contrast.text-contrast(var(--tertiary));

	& blockquote {
		@include color-contrast.border-contrast(var(--tertiary));
	}
}

.quaternary {
	background-color: var(--quaternary);
	@include color-contrast.text-contrast(var(--quaternary));

	& blockquote {
		@include color-contrast.border-contrast(var(--quaternary));
	}
}

.surface1 {
	background-color: var(--surface1);
	@include color-contrast.text-contrast(var(--surface1));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface1));
	}
}

.surface2 {
	background-color: var(--surface2);
	@include color-contrast.text-contrast(var(--surface2));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface2));
	}
}

.surface3 {
	background-color: var(--surface3);
	@include color-contrast.text-contrast(var(--surface3));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface3));
	}
}

.surface4 {
	background-color: var(--surface4);
	@include color-contrast.text-contrast(var(--surface4));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface4));
	}
}

.surface5 {
	background-color: var(--surface5);
	@include color-contrast.text-contrast(var(--surface5));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface5));
	}
}

.surface6 {
	background-color: var(--surface6);
	@include color-contrast.text-contrast(var(--surface6));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface6));
	}
}

.surface7 {
	background-color: var(--surface7);
	@include color-contrast.text-contrast(var(--surface7));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface7));
	}
}

.surface8 {
	background-color: var(--surface8);
	@include color-contrast.text-contrast(var(--surface8));

	& blockquote {
		@include color-contrast.border-contrast(var(--surface8));
	}
}

.brand-inverted-highlight1 {
	background-color: var(--brand-inverted-highlight1);
	color: var(--text1);
}

.brand-inverted-highlight2 {
	background-color: var(--brand-inverted-highlight2);
	color: var(--text1);
}

.textBrand {
	color: var(--brand);
}

.text1 {
	color: var(--text1);
}

.text2 {
	color: var(--text2);
}

.text-primary {
	color: var(--primary);
}

.text-secondary {
	color: var(--secondary);
}

.text-tertiary {
	color: var(--tertiary);
}

.text-quaternary {
	color: var(--quaternary);
}

.swatch {
	display: inline-block;
	flex-shrink: 0;
	inline-size: 1.5ch;
	block-size: 1.5ch;
	border-radius: 50%;

	&.text1 {
		background-color: var(--text1);
	}
	&.text2 {
		background-color: var(--text2);
	}
	&.brand-core {
		background-color: var(--brand-core);
	}
}

.rad-shadow {
	border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
	box-shadow: 0 1rem 0.5rem -0.5rem;
	box-shadow:
		0 2.8px 2.2px
			hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
		0 6.7px 5.3px
			hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
		0 12.5px 10px
			hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
		0 22.3px 17.9px
			hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
		0 41.8px 33.4px
			hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
		0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
