.settings {
	&__root {
		background: var(--surface1);
		position: fixed;
		top: 20%;
		right: 0;
		z-index: 11199;
		color: var(--text1);
		width: 500px;
		transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
		pointer-events: none;

		&--open {
			transform: translate3d(0vw, 0px, 0px);
			pointer-events: auto;
		}

		&--close {
			transform: translate3d(100vw, 0px, 0px);
			pointer-events: none;
		}
	}

	&__button {
		background: var(--surface2);
	}

	&__view {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
