.settings {
    position: fixed;
    top: 20%;
    right: 0;
    background: var(--surface4);
    // background-color: black;
    z-index: 99;
    color: white;
    // transform: translate3d(400px, 0, 0);

    &__button {
        background: var(--surface2);
        // background: red;
    }

    &__state-indicator {
        background: var(--surface2);
    }


    &__view {
        display: flex;
        flex-direction: row;
        background: var(--surface4);
        // background-color: aqua;
        align-items: center;
    }
}


@keyframes slideInBounce {
    0% {
        transform: translate3d(400px, 0, 0);
    }

    60% {
        transform: translate3d(-20px, 0, 0);
    }

    80% {
        transform: translate3d(10px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideOutBounce {
    0% {
        transform: translate3d(0, 0, 0);
    }

    20% {
        transform: translate3d(-10px, 0, 0);
    }

    40% {
        transform: translate3d(20px, 0, 0);
    }

    100% {
        transform: translate3d(400px, 0, 0);
    }
}