@use '../../scss/00-vars/00-vars' as vars;
@use '../../scss/00-vars/colors-shemes' as color;

.docs {
	display: grid;
	grid-template-columns: 210px auto 190px;
	grid-template-areas: 'menu article on-this-page';
	gap: 40px;
}

.docs h1 {
	background-color: var(--surface4);
	margin-top: vars.$gutter_30;
}

.docs .menu {
	grid-area: menu;
	background-color: var(--surface4);
}

.docs article {
	grid-area: article;
}

.docs .on-this-page {
	grid-area: on-this-page;
}
