@use 'sass:math';
@use 'vars';
@use 'mixins';

.container {
	margin: 0 auto;
	width: 100%;
	max-width: vars.$basicGrid__width;
}

.container_full {
	margin: 0 auto;
	width: 100vw;
}

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 vars.$basicGrid__outer;
	width: 100%;
	max-width: vars.$basicGrid__width;

	&--spacing {
		margin-bottom: -(vars.$gutter);
	}

	&--spacing > .column {
		margin-bottom: vars.$gutter;
	}

	@each $sizeName, $size in vars.$basicGrid__sizes {
		@media (min-width: $size) {
			@include mixins.rowClasses($sizeName);
		}
	}

	.row {
		margin: 0 math.div(vars.$basicGrid--gutter, -2);
		margin: 0 calc(var(--basicGrid-gutter, #{vars.$basicGrid__gutter}) / -2);
		padding: 0;
		width: auto;
		max-width: none;
	}

	.column {
		position: relative;
		box-sizing: border-box;
		padding: 0 math.div(vars.$basicGrid--gutter, 2);
		padding: 0 calc(var(--basicGrid-gutter, #{vars.$basicGrid__gutter}) / 2);
		width: 100%;

		@each $sizeName, $size in vars.$basicGrid__sizes {
			@media (min-width: $size) {
				@include mixins.columnClasses($sizeName);
			}
		}
	}
}
