$reworkGrid__centering-divisor: -2;
$reworkGrid__columns: 12 !default;
$reworkGrid__width: 1280px !default;
$reworkGrid__gutter: 1.8rem !default;
$reworkGrid__outer: 0 !default;
$gutter: 1.8rem !default;

$reworkGrid__sizes: (
	'small': 0,
	'medium': 640px,
	'large': 1024px,
) !default;
